<html>
    <head>
    </head>
    <body >
        <form action="mesav.php" method="post" target="ventana">
            <input style="height:50px; width:50px; left:600px; position: absolute;top: 20%" type="submit" onclick = "funcion();" name="boton1" value="1">
            <input style="height:50px; width:50px; left:600px; position: absolute;top: 30%" type="submit" onclick = "funcion();" name="boton2" value="2">
            <input style="height:50px; width:50px; left:600px; position: absolute;top: 40%" type="submit" onclick = "funcion();" name="boton3" value="3">
            <input style="height:50px; width:50px; left:600px; position: absolute;top: 50%" type="submit" onclick = "funcion();" name="boton4" value="4">
            <input style="height:50px; width:50px; left:700px; position: absolute;top: 20%" type="submit" onclick = "funcion();" name="boton5" value="5">
            <input style="height:50px; width:50px; left:700px; position: absolute;top: 30%" type="submit" onclick = "funcion();" name="boton6" value="6">
            <input style="height:50px; width:50px; left:700px; position: absolute;top: 40%" type="submit" onclick = "funcion();" name="boton7" value="7">
            <input style="height:50px; width:50px; left:700px; position: absolute;top: 50%" type="submit" onclick = "funcion();" name="boton8" value="8">
            <input style="height:50px; width:50px; left:800px; position: absolute;top: 20%" type="submit" onclick = "funcion();" name="boton9" value="9">
            <input style="height:50px; width:50px; left:800px; position: absolute;top: 30%" type="submit" onclick = "funcion();" name="boton10" value="10">
            <input style="height:50px; width:50px; left:800px; position: absolute;top: 40%" type="submit" onclick = "funcion();" name="boton11" value="11">
            <input style="height:50px; width:50px; left:800px; position: absolute;top: 50%" type="submit" onclick = "funcion();" name="boton12" value="12">
            <input style="height:50px; width:100px; left:680px; position: absolute;top: 70%" type="submit" name="boton13" value="Aceptar" href="inicio_establecimiento.php">
        </form>
        <iframe name="ventana" src="mesav.php"></iframe>
    </body>
</html>