@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/*DEFINIMOS VARIABLES PARA PALETA DE COLORES*/
/*DEFINIMOS VARIABLES PARA PALETA DE COLORES*/
:root{
    --login-bg:#ffeabd; /*COLOR DE FONDO o BACKGROUND*/
    --title-bg:#ff6b27fc;
    --button-bg:#ff813c;
    --soft:#f8d0a5;
    --image-bg:#ffdb81;
}

body{
    height: 100vh;
    font-family: 'Quicksand',sans-serif;
    background-image: linear-gradient(to top, #fff8e6 0%, #ffc13ca3 100%);
}
.login-container{    
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    display: flex; /*Pone elementos uno al lado del otro*/
    justify-content: space-between;
    border-radius:10px;
    overflow: hidden; /*para que no se sobrepongan*/
}
.login-information-container{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top:0.5rem;
    background-color: var(--login-bg);
}
.image-container{
    width: 50%;
    padding: 2rem;
    background-color: var(--image-bg);
    box-sizing: border-box; /*El contenido se ajusta*/
}
.title{
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}
.social-login{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-login-element{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
}
.social-login-element img{
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top:0;
    left: -0.25rem;

}
/*Al posicionar puntero en redes sociales cambia color y aparece puntero*/
.social-login-element:hover{
background-color: var(--soft);
cursor: pointer;
}

.login-information-container>p{
    font-size: 1.25em;
    margin-top:1.5em;
}
.inputs-container{
    height: 55%;
    width: 85%;
    /*Se alinean hacia abajo*/ 
    display: flex;
    flex-direction:column; 
    justify-content: space-around;
    align-items: center;
}
.input,.btn{
    width:90%;
    height: 3.125rem;
    font-size: 1em;
}
.input{
    padding-left: 20px; /*separar texto del borde*/
    border: none;
    border-radius: 5px;
    font-weight: 600;
    box-sizing: border-box;
}
.input:hover{
    border:2px solid var(--button-bg);
}
.btn{
    width: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    border-radius: 10px;
}
.inputs-container p{
    margin: 0;
}
.span{
    color: var(--button-bg);
    font-weight: 600;
    cursor: pointer;}
.pRegistro{
    text-align: left;
    
}
/*CARACTERISTICAS RESPONSIVAS*/

/*Establecemos breakpoints o pixeles despues del max-width*/

/*Por ejemplo, aqui el valor (de 1000px hacia abajo)
a partir de este se deben aplicar los cambios*/
@media screen and (max-width: 1000px ) {
    .image-container{
        display: none;/*Quita imagen*/
    }
    .login-container{
        border: 2px solid red;
        width: 70%;
        margin-top: 3rem;
    }
    .login-information-container{
        width: 100%; /*Ahora ocupa el espacio de la imagen*/
    }
}
@media screen and (max-width: 650px){
    .login-container{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .login-container{
        width: 90%;
    }
    .social-login{ /*Para evitar que se amontonen, se ponen en columna*/
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
    .login-information-container >p{
margin:0;
    }
}
