<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="public/css/login.css" type="text/css">
    <link rel="stylesheet" href="public/css/cabecera.css" type="text/css">
    <link rel="stylesheet" href="public/css/barra.css" type="text/css">
    <link rel="stylesheet" href="public/css/barra.js" type="text/css">
    <link rel="stylesheet" href="../public/css/login.css" type="text/css">
    <link rel="stylesheet" href="../public/css/cabecera.css" type="text/css">
    <link rel="stylesheet" href="../public/css/barra.css" type="text/css">
    <link rel="stylesheet" href="../public/css/barra.js" type="text/css">
    <style type="text/css">

        .dib0  { float: left ; width: 300px; margin: 10px 10px; }
        .dib1  { float: right; width: 300px; margin: 10px 10px;}
        .dib2  { float: center; width: 300px; margin: 15px 10px; }
        </style>

    <title>HOME ESTABLECIMIENTO</title>
</head>
<body id="pawegrap" >
<div id="header2">
    <ul class="clearfix" >
        <li><a href="views/main.php"> &#x1F37D Food.exe</a></li>
        
    </ul>
   </div>  


 <img class="dib0" src="../public/IMG/pin.png" alt="En proceso">
 <img class="dib1" src="../public/IMG/pin.png" alt="En proceso">
 <img class="dib2" src="../public/IMG/pin.png" alt="En proceso">

    <script src="../../public/css/barra.js"></script>

</body>
</html>
