#barra{
    color: rgb(213, 4, 4);
    font-weight: bold;
}
#barra:hover{
  color: rgb(30, 186, 15);
}
/********************************* BARRA MENU LATERAL ESTABLECIMIENTOS Y COMENSAL ************/

button.redondo{ /*SECCIONES LATERALES*/
	z-index: 2;/*COLOCA CIRCULOS ENCIMA DE 1 (BARRA LATERAL)*/
	border-radius: 0%;/*En 50% es circulo y 0% cuadrado*/
	border-style: none;
	background-color: #fd9c28;
	color: rgb(125, 25, 25);
	font-size: 100%; /*TAMAÑO INICIAL FUENTE*/
transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out; 
  }
  .barra-lateral{
    position:static;
    width: 200px;
    height: 100%;
    background: #fd9c28;
    right: -300px;
    top: -100%;
    transition: all 500ms linear;
  }
  #barra-lateral ul li {
    background-color: #fd9c28;
    list-style: none;
    padding: 15px 10px; /*margen*/
    text-align: center;
  }
  
  
