body{
    background:#ffb201;
    /*background:#181907;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0;
}
 
#registrar{
        float:left;
        width:80%;
        font-size:24px;
        font-weight:bold;
        color:#fff;
        text-align:right;
}

#header{
    text-align: center;
    padding: 10px;
    background: #E1E5EA; 
   
}
#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
#header ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;
} 
 
#contenedor{
    background-color:#f8edd3;
    /*Margen de sombra alrededor del contenedor 8px negro*/
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.5);
    /*Las 3 líneas siguientes, sirven para el borde redondeado
     * pero para diferentes navegadores*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
    border-radius:10px;
	margin-top:15%;
}
 
#cabecera{
    /*linea que separa*/
    border-bottom: 2px solid #333;
    padding-top: 2px;
    /*color:#FFF;*/
    height:70px;
    line-height:50px;
    text-align:center;
}
 
#cuerpo{
    background:#ececec;
    border:solid #ccc;
    /*aumentando el 2px 'aparece' un borde*/
    border-width: 1px 0;
    padding:15px 35px;
	margin-top:15%;
}
 
label{
    color: #666;
    font-weight: bold
}
 
input{
    border-radius:5px; 
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);
    font:bold 12px Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 20px;
    padding:0 2px;
    width: 230px;
}
 
 
.boton{
    background: #ccc;
    /*background: -moz-linear-gradient(top,#eee,#ccc);*/
    /*background: -moz-linear-gradient(top,#fc6,#f63);*/
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    /*Color del texto*/
    color: #666;
    width: 120px;
}
 
/*Tip estas instrucciones animan al boton enviar
 * para que se vea como si se pulsara*/
.boton:active{
    position: relative;
    top: 3px;
}
 
#pie{
    border-top: 2px solid #333;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
	margin-top:8%;
}
 
form,p{
    margin:0;
}
 
p{
    /*Para que los elementos del cuerpo
     * se separen entre ellos*/
    padding-bottom: 5px;
}
 
/*Para separar el botón*/
p#bot{
    padding-top: 10px;
}