#fondo {
	background-image: url("imagen/fondo.jpg");
	padding: 396px 768px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute; 
}
/*filtros de la imagen de fondo*/
#fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0.6,0,0.6);
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    margin: 0;
}

#envoltura{
    position:absolute;
    left:70%;
    top:40%;
    margin-left:-165px;
    margin-top: -210px;
    width: 500px;
}
 
#cuerpo{
    background:#FFF;
	border-radius:30px;
    border:solid #ccc;
    border-width: 1px 0;
    padding:15px 35px;
	height:550px;
}
 
label{
    color: #000;
    font-weight: bold;
}
input{
    padding:0 2px;
    width: 425px;
	height: 30px;
} 

.img5{ 
	padding: 10px; 
	margin: 10px;
	width:70px; 
	height:70px;	
	float: right; 
	position: absolute;
	top: 60%;
	left: 50%;
 }
.img6{ 
	padding: 10px; 
	margin: 10px;
	width:60px; 
	height:60px;	
	float: right; 
	position: absolute;
	top: 60%;
	left: 70%;
 } 
 .img7 { 
	padding: 10px; 
	margin: 10px;
	width:500px; 
	height:500px;	
	float: right; 
	position: absolute;
	top: 18%;
	right: 54%;
 }
 .img8 { 
	padding: 10px; 
	margin: 10px;
	width:100px; 
	height:100px;	
	float: right; 
	position: absolute;
	top: 0%;
	left: 0%;
 }
/*Estas instrucciones animan al boton enviar
 * para que se vea como si se pulsara*/
 .img8:active{
   position: absolute;
    top: 1px;
}	 
.boton{
    background: #0cf050;
	border-radius:30px; /* hace ovalo el button */
    background: -webkit-linear-gradient(top,#11f211,#11f211);
    background: linear-gradient(top,#11f211,#11f211);
    /*Color del texto*/
    color: #FFF;
	font-weight: bold; 
	font-family: Verdana, Helvetica, sans-serif;
    font-size:20px;
	height: 40px;
    width: 170px;
	position: absolute;
	top: 75%;
	right: 35%;
}
  
form,p{
    margin:0;
}
 
p{
    /*Para que los elementos del cuerpo
     * se separen entre ellos */
    padding-bottom: 5px;
}
 
/*Para separar el botón de ingresar*/
p#bot{
    padding-top: 10px;
}