* {
    margin: 0px;
    padding: 0px;
    background-color: #f6ecd2;
  }
  
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #fd9c28;
    right: -200px;
    transition: all 500ms linear;
  }
  
  #sidebar.active {
    right: 0px;
  }
  
  #sidebar ul li {
    background-color: #fd9c28;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(208, 66, 1, 0.968);
    text-align: center;
  }
  
  
  #sidebar .toggle-btn {
    position: absolute;
    left: -100px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }
  #cuadro2 {
    padding: 100px 20px;
    background-color: #381b1ba6;
    margin: calc(50% + 100px);
    margin-top: 10px;
      margin-left: 550px;
      margin-right: 150px;
    padding-top: 28px;
    margin-bottom: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
  }
  #barra{
    color: rgb(213, 4, 4);
    background-color: #fd9c28 ;
    font-weight: bold;
}
#header2 a{
	margin: 0;
	padding: 10;
	position:relative;
	list-style: none;

	line-height: 100%;
	font-weight: bold;
  display: block;
	padding: 14px 15px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #fd9c28;
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(155, 9, 9);
    font-size: 25px;
    transition: all ease 300ms;
}