/************************************************************************************
MAS PEQUEÑO QUE 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	/* pagewrap */
	#pagewrap {
		width: 95%;
	}

	/* content */
	#footer {
		width: 60%;
		padding: 3% 4%;
	}


}

/************************************************************************************
MAS PEQUEÑO QUE 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	/* content */
	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	/* sidebar */
	#footer {
		width: 100%;
		margin: 0;
		float: none;
	}
}